@import "./base/base";
@import "./base/reset";
@import "./utils/variables";
@import "./utils/common-styles";
@import "./components/header";
@import "./components/header-logo";
@import "./components/nav";
@import "./components/contact";
@import "./components/hero";
@import "./components/hero-btn";
@import "./components/backdrop";
@import "./components/bacdrop-close-btn";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/checkbox";
@import "./components/form-send-btn";
@import "./components/feature";
@import "./components/work";
@import "./components/team";
@import "./components/socials";
@import "./components/clients";
@import "./components/footer";
@import './components/address';
@import "./components/footer-socials";
@import "./components/footer-form";
@import "./components/footer-form-btn";
