.close--btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    fill: var(--text-black-color);
    background: var(--text-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--transition);


    &:hover,
    &:focus {
    fill: var(--accent-color);
}
}