/* -----Modal----- */

.backdrop {
    position: fixed;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color);
    opacity: 1;
    z-index: 1;

    transition: opacity var(--transition),
        visibility var(--transition);


    &--hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition),
        visibility var(--transition);
}
}