/* ---Checkbox--- */

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    outline-color: transparent;
}

.checkbox__icon {
    fill: $text-white-color;
    background-color: transparent;
    border: 2px solid $text-black-color;
    border-radius: 2px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus+.checkbox__icon {
    outline: 2px solid $text-black-color;
    outline-offset: 2px;
}

.checkbox:checked+.checkbox__icon {
    background-color: $accent-color;
    border-color: transparent;
    background-origin: content-box;
    outline-color: transparent;
}

.checkbox:hover+.checkbox__icon {
    outline-color: transparent;
}

.form__agree--link {
    color: $accent-color;
}