/* Regular Customers */

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: $text-black-color;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.clients__card {
    gap: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color $transition, border-color $transition;
}

.clients__icon {
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    color: $accent-color;
    border-color: $accent-color;
}