/* Logo */

.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: $logo-color;
    display: block;

    padding-top: 24px;
    padding-bottom: 24px;

    margin-right: 93px;


    &__accent {
    color: $accent-color;}
}