/* Work */

.work {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-top: 0;


    &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $text-black-color;
    margin-bottom: 50px;
}

    &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

    &__item {
    position: relative;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
    flex-basis: calc((100% - 60px) / 3);
}

    &__box {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    ;
}

    &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    color: #FFFFFF;
}
}